.about {

  width:  80vw;
  border: 2px solid rgb(201, 12, 12);
 display: flex;
 align-items: center;
  height: 90vh;

 
}

.pAbout{
  margin-top: -5vh;
  border: 1px solid black;
  width: 40vw;
 
}
.about1 {
  font-size: 5vh;
  font-family: "Poppins";
  height: 80vh;
  display: flex;
  width: 100vw;
align-items: center;
justify-content: center;
  border: 2px solid rgb(201, 12, 12);
 
}

.allAbout {
  font-size: 5vh;
  text-align: center;
  font-family: "Poppins";
  height: 80vh;
  display: flex;
  width: 150vw;
align-items: center;
justify-content: center;
  border: 2px solid rgb(201, 12, 12);
}