.about {
  // width:  100%;
  display: flex;
  align-items: center;
}

.pAbout{
  margin-top: -5vh;

  width: 40vw;
 
}
.about1 {
  font-size: 5vh;
  font-family: "Poppins";
  height: 80vh;
  display: flex;
  width: 100vw;
align-items: center;
justify-content: center;

 
}

.allAbout {
  font-size: 5vh;
  text-align: center;
  font-family: "Poppins";
  height: 80vh;
  display: flex;
  width: 150vw;
align-items: center;
justify-content: center;

}