.card1 {

height: 20vh;



}

.card1 > img {
  width: 30vw;
 

}


.maincar { 
  border: 1px solid black;
  width: 20vw;
  height: 100vh;
}


.carAll{

  border: 1px solid rgb(25, 190, 89);
  width: 100vw;
  height: 150vh;
  display: flex;
  justify-content: center;
}
