.nameLogo {
  width: 3vw;


}


.profileClass{
  width: 25vw;
  
  margin-left: 33vw;
  margin-bottom: -33vw;
  display: 1px solid rgb(131, 9, 9);
}


.portugueseText {

  height: 20vh;
  width: 20vw;
  display: 1px solid black;
  
}

.hi1 {
  

  margin-right: 4vw ;
  height: 20vh;
}