@media (max-width: 768px) {

.allContact {
 
}
.textC {

  width: 20rem;

  margin-right: 3rem;
  margin-bottom: 5rem;
}

.nameL {

}
.emailL{

}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.email{
  width: 10rem;
  margin-right: 2rem;
  height: 1.5rem;
  color:white;
}
.name{
  height: 1.5rem;
  margin-right: 2.2rem;
  width: 10rem;
  
}
.textC  p {
  font-size: 11px;
  text-align: center;
}
.allContact h3 {

  margin-top: 10rem;
  font-size: 25px;
  margin-top: 1rem;
}
.textMessage{
  width: 15rem;
  height: 7rem;
}
.sendBtn{
  width: 6rem;
  height: 3em;
}


}

@media (max-width: 375px) {
.form h3{
  margin-right: 1rem;
  text-align: center;
}
  .sendBtn{
   margin-top: 1rem;
    width: 8rem;
  }
.textMessage{
 margin-right: 1.7rem;
}

}

@media (max-width: 540px) {

  .sendBtn{
    height: 6rem;
    margin-top: -4.5rem;
  }
.textMessage{
 margin-right: 1.7rem;
}
.sendBtn{
 
  width: 8rem;
  height: 2rem;
}

.email{
  margin-right: 2rem;
}

.textMessage {
 margin-left: 2em;
  
}

.contact{
 

 
}

}
@media (max-width: 414px) {

  .form{
    display: flex;
    justify-content: center;
   height: 40rem;

    align-items: center;
  }

  .formMain{
    height: 21.5rem;
  }



}