

.contact {
  border: 1px solid black;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family:'Poppins' , 'Arial Narrow', Arial, sans-serif
}

.textC {  border: 1px solid rgb(224, 20, 20);
  line-height: 4rem;
  margin-left: 13vw;
width: 60vw;
height: 50vh;
color: $whiteLetter;
margin-top: 3vh;
padding-left: 1.5vw;}

.textC > h3{
  color: $blueborder;
 
 display: flex;
 justify-content: center;
}