.foot {
 color: $whiteLetter;
 font-family: "Poppins";
 font-size: 12px;
  background-color: $backG;
  display: flex;
  justify-content: center;
    align-items: center;
  width: 80vw;
  height: 12vh;
  padding-bottom: 5vh;

}