.form {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  flex-direction: column;

}
.form > h3 {
  display:flex;
  justify-content: center;
  align-items: center;
  color:$whiteLetter;
  font-family: "Poppins";
  font-size: 7vh;
  color: $blueHove;
  margin-top: 7rem;
  margin-left: 10vw;
}

.name {
height: 3.7vh;
width: 18vw;
border:1px solid rgb(143, 207, 233);
background-color: rgb(54, 54, 54);
color:white;
}

.name:focus{
  color:white;
  border:1px solid rgb(12, 57, 75);}

.email {
  height: 3.7vh;
  width: 18vw;
  border:1px solid rgb(143, 207, 233);
  background-color: rgb(54, 54, 54);
  color:white;
}
.email:focus{
  color:white;
  border:1px solid rgb(12, 57, 75);}


.textMessage {
  resize: none;
  height: 30vh;
  width: 40vw;
  color:white;
  border:1px solid rgb(143, 207, 233);
  background-color: rgb(54, 54, 54);
  border-radius: 10px;
 }
.textMessage:focus{color:white;
  border:1px solid rgb(12, 57, 75);}

.sendBtn {
  margin-top: 1rem;
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  color: $whiteLetter;
  background-color: $blueborder;
  border: none;

}

.sendBtn:hover {
opacity: 0.5;
cursor:pointer;

}
.formMain  input {
  border-radius: 7px;
 
}

.formMain { 
  margin-top: 2rem;
  margin-left: 9vw;
  height: 51.5vh;
  border:1px solid rgb(58, 8, 8);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.emailL {
  margin-right: 5px;

  color:$whiteLetter;
  font-family: "Poppins";
}
.nameL {
  margin-right: 5px;
  color:$whiteLetter;
  font-family: "Poppins";
}

.messageL { 
  margin-bottom: 1vh;
  margin-right: 10px;
  color:$whiteLetter;
  font-family: "Poppins";
}

.textfield {
  height: 30vh;
  align-items: center;
  flex-direction: column;
  display: flex;

}