.form {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  flex-direction: column;

}
.form > h3 {
  color:$whiteLetter;
  font-family: "Poppins";
  font-size: 7vh;
  color: $blueHove;
  margin-top: 5vh;
  margin-left: 10vw;
}

.name {
height: 2.7vh;
width: 18vw;

}

.email {
  height: 2.7vh;
  width: 18vw;
}

.textMessage {
  resize: none;
  height: 30vh;
  width: 40vw;
}

.sendBtn {
  width: 6vw;
  height: 4vh;
  border-radius: 5px;
  color: $whiteLetter;
  background-color: $blueborder;
  border: none;
  transition: 2s;
}

.sendBtn:hover {
opacity: 0.5;
cursor:pointer;

}
.formMain  input {
  border-radius: 7px;
}

.formMain { 
  margin-left: 9vw;
  height: 45vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.emailL {
  margin-right: 5px;
  color:$whiteLetter;
  font-family: "Poppins";
}
.nameL {
  margin-right: 5px;
  color:$whiteLetter;
  font-family: "Poppins";
}

.messageL { 


  margin-bottom: 1vh;
  margin-right: 10px;
  color:$whiteLetter;
  font-family: "Poppins";
}

.textfield {
  height: 30vh;
  align-items: center;
  flex-direction: column;
  display: flex;
  
}