body {
 
}

.links {
  background-color: $backG;
   color: $whiteLetter;
   display: flex;
   width: 14vw;
   height: 100vh;
  position: fixed;
   flex-direction: column;
   align-items: center;
   
}

.links p {
   margin-top: -5px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  color: $whiteLetter;
  text-decoration: none;
  border-top: 1px solid $kindgray;
  border-bottom: 1px solid $kindgray;
  width: 13.7vw;
  height: 7.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  
}

.links p:hover {
    color:$blueHove;
    transition: 0.2s;
    
}

.links :link {text-decoration: none;}


.langbtn {
  background-color: transparent;
  color: $whiteLetter;
  border:none;
  cursor:pointer;

  color: $blueHove;
}

.logo {
  width: 14vw;
  height: 32vh;
}

.icons {
  margin-top: 8px;
  transition: 0.2s;
}

.icons a {
  color: aliceblue;
  transition: 0.5s;
}

.icons a:hover {
  color: $blueHove;
}


.allContent {
  border: 1px solid black;
  height: 120vh;
  background-color: $kindgray;
  color: $whiteLetter;
}

.allContent > h2 {
 
  width: 56vw;
  height: 70vh;
  border: 1px solid rgb(133, 27, 27);
  margin-left: 25vw;
  justify-content: center;
  align-items: center;
  display: flex;
 

 

}

.mainContent > h2 {
  border: 1px solid black;
  height: 25vh;
 
  width: 25vw;
}

