@media (max-width: 768px) {

.pAbout{
  font-size: 18px;

margin-bottom: 5rem;
}
.about1 > p {
  font-size: 18px;
}

.menuBar { 
  height: 5px;
  display: block;
  height: 2rem;
  display: flex;
  justify-content: end;
  
  
  }
  .menuBar button {
    background-color: transparent;
    border: none;
    color: $whiteLetter;
  }
  .hi1 {
    margin-left: 9rem;
    width: 15rem;


  }
 
  .hi {
    margin-bottom: -5.5rem;
    
  }
  .content {
 
    height: 30rem;
 
  }
.texti {


display: flex;

margin-left: 2rem;

height: 5rem;
}
.texti p {
  font-size: 18px;

}

.profileClass{
  width: 15rem;
  margin-top: 5rem;
  margin-left: -1rem;

}


.nameLogo {
width: 1rem;;
  margin-top: 1rem;


}
.about1 p{
  font-size: 15px;
}
.about1 {
  margin-bottom: 6rem;
}
.about {

  margin-left: -3rem;
  height: 35rem;
 
}
.foot {
  width: 100%;
  text-align: center;
  padding-left: 1rem;

}
}