@media (max-width: 768px) {

.pAbout{
  font-size: 15px;
}
.texti {


display: flex;
margin-left: 80px;
margin-bottom: -100px;
  border:1px solid black;

}
.texti p {
  font-size: 20px;

}

.profileClass{
  width: 250px;
  margin-left: -5px;
  margin-bottom: -100px;
}
.footer {
  width: 100px;
}

.about1 p{
  font-size: 15px;
}

.about {
  border: 1px solid black;
  display: flex;
  flex-direction: column;  
}
.foot {
  width: 200px;
}
}