@media (max-width: 768px) {


.menubtn {
  display: block;
 
  width: 100vw;
  display: flex;
  justify-content: end;

}

.links {
  width: 100vw;
}
.menubtn > button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $whiteLetter;
  height:25px;
  
}
  .links{
    display: none;
  }

  .photoAndI {
    border: 1px solid purple;
    margin-left: -8vw;
    width: 100vw;

  
    display: flex;
    flex-direction: column; 
    align-items: center;
  height: 50vh; }
  #root {
    width: 50px;
    height: 200vh;
  }
 .content {
  width: 50vw;
  height: 100vw;
  margin-right: 8vw;
 }
.pAbout {
  width: 50vw;
  height: 40vh;
  border: 1px solid purple;
  
}
.pAbout{
  font-size: 20px;
  margin-bottom: 35px;
}

.allabout {
  width: 40vw;
  height: 80vh;

}
 .about {
  height: 20vw;
  font-size: 16px;
  display: flex;
  border: 1px solid purple;
  flex-direction: column;
 }
 .about1 > p {
  font-size: 15px;
 }

 .hi {
  font-size:20px;
 }
.hi1 {
  font-size: 20px;
}
 .texti {
  font-size: 16px;
  width: 90vw;

 }


 .profileClass{
  width: 55vw;
  

margin-right: 15vw;

  border: 1px solid purple;
 }
 .footer {
margin-top: 50vh;
 }
}