
@media (max-width: 768px) {

.links{
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 1;

}

.icons {
 
  margin-top: -0.5rem;
  display: flex;
  width: 10%;
  gap:0.5rem;
  gap:1rem;
}
.links a {
  color: $whiteLetter;
  text-decoration: none;
  border-top: 1px solid $kindgray;
  border-bottom: 1px solid $kindgray;
  width: 90%;
  height: 7.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.x{
display: block;
width: 100vw;
display:flex;
justify-content: end;
}
.langbtn {

  width: 85vw;
  
}
.x button {
  background-color: transparent;
  color: $whiteLetter;
  border: none;
}

.logo{
  width: 85vw;
  
}

}