@media (max-width: 768px) {

.allProjects{
  display: flex;
  flex-direction: column;


}


.pro2{
  gap: 10rem;
  width: 15rem;

  margin-top: 140rem;
  
   margin-left: -23rem;
}
.card1 > img {
  width:  15rem;
}

.titleProject{

  font-size: 25px;
  align-self: center;
}
.carAll{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 1rem;
  align-items: center;


}
.foot{
  margin-top: 80rem;
}
.pro{
  
  margin-right: 3rem;
  gap: 7rem;
  width: 15rem;
  margin-top: 70rem;

}}

@media (max-width: 375px) {


.card1{

}

}


