@media (max-width: 768px) {

.allProjects{
  display: flex;
  flex-direction: column;


}


.pro2{
  gap: 10rem;
  width: 15rem;

  margin-top: 122rem;
  margin-bottom: 2rem;
   margin-left: -24rem;
}
.card1 > img {
  width:  15rem;
}

.titleProject{

  font-size: 25px;
  align-self: center;
}
.carAll{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 1rem;
  align-items: center;


}
// .foot{
//   margin-top: 80rem;
// }
.foot2 {
   text-align: center;
  color: #fff;
  background-color: #1d1d1d;
  font-family: "Poppins";
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-top: 72rem;
  
 
  }

  .pro{
  
    margin-right: 3rem;
    gap: 3rem;
    width: 15rem;
    margin-top: 60rem;
  
  }
}



@media (max-width: 375px) {


.card1{

}

}


