.mainContent {
  width: 80vw;
  margin-left: 16vw;
  font-family: "Poppins";
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(71, 67, 67);
  color: #fff;
}

body {
  background-color: rgb(71, 67, 67);
}

.menubtn button {
  display: none;
}

.hi1 {
  margin-left: 7vw;
  width: 30vw;
  font-size: 5vh;
  text-align: center;
}

.hi2 {
  font-size: 5vh;
}

.hi {
  margin-right: 7vw;
  width: 30vw;
}

.hi {
  width: 70vw;
  margin-left: 10rem;
  font-size: 5vh;
  text-align: center;
  margin-bottom: -10vh;
  display: flex;
  justify-content: center;
  width: 10vw;
}

.content {
  width: 72vw;
  padding-left: 7vw;
}

.texti {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5vw;
  margin-top: 20vh;
  padding-right: 8rem;
}

.logo {
  width: 20vw;
}

.links {
  width: 20vw;
}

.mainContent p {
  margin-top: 10vh;
}

.menuBar {
  height: 5px;
  display: none;
}

.links {
  background-color: #1d1d1d;
  color: #fff;
  gap: 20px;
  display: flex;
  width: 14vw;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  align-items: center;
}

.links p {
  margin-top: -5px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid rgb(71, 67, 67);
  border-bottom: 1px solid rgb(71, 67, 67);
  width: 13.7vw;
  height: 7.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.x {
  display: none;
}

.links p:hover {
  color: #49c5b6;
  transition: 0.2s;
}

.links :link {
  text-decoration: none;
}

.langbtn {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  color: #49c5b6;
}

.logo {
  width: 14vw;
  height: 32vh;
}

.icons {
  margin-top: 3vh;
  transition: 0.2s;
}

.icons a {
  color: aliceblue;
  transition: 0.5s;
}

.icons a:hover {
  color: #49c5b6;
}

.nameLogo {
  height: 5vh;
  width: 2vw;
}

.titulo {
  color: #fff;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.pAbout {
  animation: slide-in 0.7s;
}

.hi2 {
  animation: slide-in 0.7s;
}

.hi1 {
  animation: slide-in 0.7s;
}

.hi {
  animation: slide-in 0.7s;
}

.profileClass {
  animation: slide-inRight 0.7s;
}

@keyframes slide-inRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.nameLogo {
  width: 3vw;
}

.loader {
  width: 48px;
  height: 48px;
  margin-left: 50vw;
  margin-top: 46vh;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.profileClass {
  width: 25vw;
  margin-left: 37vw;
  margin-bottom: -33vw;
  display: 1px solid rgb(131, 9, 9);
}

.portugueseText {
  height: 20vh;
  width: 20vw;
  display: 1px solid black;
}

.hi1 {
  margin-right: 4vw;
  height: 20vh;
}

@media (max-width: 768px) {
  .pAbout {
    font-size: 18px;
    margin-bottom: 5rem;
  }
  .about1 > p {
    font-size: 18px;
  }
  .menuBar {
    height: 5px;
    display: block;
    height: 2rem;
    display: flex;
    justify-content: end;
  }
  .menuBar button {
    background-color: transparent;
    border: none;
    color: #fff;
  }
  .hi1 {
    margin-left: 9rem;
    width: 15rem;
  }
  .hi {
    margin-bottom: -5.7rem;
  }
  .content {
    height: 30rem;
  }
  .texti {
    display: flex;
    margin-left: 2rem;
    height: 5rem;
  }
  .texti p {
    font-size: 18px;
  }
  .profileClass {
    width: 15rem;
    margin-top: 5rem;
    margin-left: -1rem;
  }
  .nameLogo {
    width: 1rem;
    margin-top: 1rem;
  }
  .about1 p {
    font-size: 15px;
  }
  .about1 {
    margin-bottom: 6rem;
  }
  .about {
    margin-left: -3rem;
    height: 35rem;
  }
  .foot {
    width: 100%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.2rem;
  }
}
@media (max-width: 280px) {
  .allContent {
    margin-right: 30rem;
  }
  .profileClass {
    margin-left: -3rem;
  }
  .foot {
    width: 18rem;
  }
  .hi {
    margin-right: 2rem;
  }
  .hi1 {
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  margin-left: 17vw;
  height: 110vh;
  width: 80vw;
  display: flex;
  flex-direction: row-reverse;
}

.col {
  padding-right: 2vw;
  position: relative;
  margin-top: 3vh;
  width: 55vw;
  font-size: 12px;
  line-height: 2em;
  height: 80vh;
}

.textSkills {
  width: 80vw;
  height: 80vh;
}

.descriptionSkill {
  color: #fff;
  font-family: "Poppins";
  line-height: 25px;
  width: 40vw;
  text-align: left;
  font-size: 22px;
  margin-left: 3vw;
  margin-top: 7vh;
  text-align: center;
  line-height: 32px;
}

.skill {
  list-style: none;
}

.skill li {
  margin-bottom: 70px;
  background: #030303;
  height: 6px;
  border-radius: 3px;
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.skill li em {
  position: relative;
  font-style: normal;
  font-size: 3vh;
  font-family: "Poppins";
  text-align: center;
  color: #dedede;
  top: -28px;
}

.blueline {
  height: 3px;
  margin: 2px 0;
  background: #2187e7;
  z-index: 0;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.6);
}

.skillsMain {
  border: 1px solid transparent;
  height: 150vh;
}

.skills {
  display: flex;
  width: 35vw;
}

.dowloadDiv {
  margin-top: 2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.downloadBtn {
  background-color: #49c5b6;
  border-color: #fff;
  color: #fff;
  width: 7rem;
  font-family: "Poppins";
  font-size: 15px;
  cursor: pointer;
}

.downloadBtn:hover {
  opacity: 0.5;
}

.titleSkills {
  float: right;
  padding-bottom: 4vh;
  margin-right: 25vw;
  margin-top: 8vh;
  width: 40vw;
  text-align: center;
  font-size: 8vh;
  color: #49c5b6;
  font-family: "Poppins";
}

.titulo {
  font-size: 4vh;
  display: flex;
  height: 12vh;
  line-height: 38px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10vh;
  font-family: "Poppins";
}

.titulo {
  opacity: 1;
  animation: titulo 5s ease-out;
}

.stack {
  opacity: 1;
  animation: titulo 5s ease-out;
}

.html {
  width: 75%;
  animation: html 2s ease-out;
}

.css {
  width: 60%;
  animation: css 2s ease-out;
}

.php {
  width: 75%;
  animation: php 2s ease-out;
}

.javascript {
  width: 65%;
  animation: javascript 2s ease-out;
}

.jquery {
  width: 40%;
  animation: typescript 2s ease-out;
}

.node {
  width: 38%;
  animation: node 2s ease-out;
}

.sql {
  width: 30%;
  animation: sql 2s ease-out;
}

.docker {
  width: 30%;
  animation: docker 2s ease-out;
}

@keyframes titulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@keyframes php {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@keyframes javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 65%;
  }
}
@keyframes typescript {
  0% {
    width: 0px;
  }
  100% {
    width: 40%;
  }
}
@keyframes node {
  0% {
    width: 0px;
  }
  100% {
    width: 38%;
  }
}
@keyframes sql {
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
}
@keyframes docker {
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
}
/*media queries*/
.pro {
  width: 15rem;
  height: 150vh;
  gap: 35px;
  display: flex;
  flex-direction: column;
  margin-left: 13vw;
  margin-bottom: 7rem;
}

.pro2 {
  margin-top: -3rem;
  width: 20%;
  height: 150vh;
  gap: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
}

.projectImg {
  width: 15vw;
  height: 20vh;
  transition: 0.4s;
  border-radius: 5px;
}

.someProjects {
  border: 1px solid black;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}

.projectImg:hover {
  transition: 0.4s;
  opacity: 0.5;
  transform: scale(1.2);
}

.someProjects > li {
  border: 1px solid black;
  height: 30vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleProject {
  color: #49c5b6;
  padding-top: 3vh;
  margin-left: 7vw;
  display: flex;
  justify-content: center;
  height: 12vh;
  font-size: 8vh;
  font-family: "Poppins";
}

.projectHamburger {
  display: none;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.foot2 {
  color: #fff;
  background-color: #1d1d1d;
  font-family: "Poppins";
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.projectLink > a {
  margin-right: 4rem;
  color: #fff;
}

.about {
  display: flex;
  align-items: center;
}

.pAbout {
  margin-top: -5vh;
  width: 40vw;
}

.about1 {
  font-size: 5vh;
  font-family: "Poppins";
  height: 80vh;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.allAbout {
  font-size: 5vh;
  text-align: center;
  font-family: "Poppins";
  height: 80vh;
  display: flex;
  width: 150vw;
  align-items: center;
  justify-content: center;
}

.foot {
  color: #fff;
  background-color: #1d1d1d;
  font-family: "Poppins";
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.contact {
  margin-top: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Poppins", "Arial Narrow", Arial, sans-serif;
}

.textC {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(143, 207, 233);
  border-radius: 20px;
  line-height: 2rem;
  margin-left: 13vw;
  width: 60vw;
  height: 20vh;
  color: #fff;
  margin-top: 3vh;
  padding-left: 1.5vw;
}

.textC > a {
  color: #2187e7;
  text-decoration: none;
}

.emailC {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.phone {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.divEmail {
  display: flex;
  flex-direction: row;
  width: 25rem;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid black;
}

.card1:hover {
  opacity: 0.5;
}

.card1 > img {
  width: 100%;
  border-radius: 17px;
}

.card1:nth-child(3) {
  width: 30vw;
  margin-top: 5vh;
  border-radius: 17px;
}

.maincar {
  width: 20vw;
  height: 100vh;
}

.carAll {
  padding-top: 5vh;
  padding-left: 2vw;
  height: 185vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectName {
  display: flex;
  font-family: "Poppins";
  color: #fff;
  font-size: 1.7rem;
  justify-content: center;
}

.projectLink {
  margin-left: 3vw;
  font-family: "Poppins";
  color: #fff;
}

.projectLink > a {
  width: 10rem;
  font-family: "Poppins";
  color: #3fcfc3;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 768px) {
  .projectLink {
    margin-left: 10.2vw;
  }
}
.form {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  flex-direction: column;
}

.form > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Poppins";
  font-size: 7vh;
  color: #49c5b6;
  margin-top: 7rem;
  margin-left: 10vw;
}

.name {
  height: 3.7vh;
  width: 18vw;
  border: 1px solid rgb(143, 207, 233);
  background-color: rgb(54, 54, 54);
  color: white;
}

.name:focus {
  color: white;
  border: 1px solid rgb(12, 57, 75);
}

.email {
  height: 3.7vh;
  width: 18vw;
  border: 1px solid rgb(143, 207, 233);
  background-color: rgb(54, 54, 54);
  color: white;
}

.email:focus {
  color: white;
  border: 1px solid rgb(12, 57, 75);
}

.textMessage {
  resize: none;
  height: 30vh;
  width: 40vw;
  color: white;
  border: 1px solid rgb(143, 207, 233);
  background-color: rgb(54, 54, 54);
  border-radius: 10px;
}

.textMessage:focus {
  color: white;
  border: 1px solid rgb(12, 57, 75);
}

.sendBtn {
  background-color: #49c5b6;
  border-color: #fff;
  color: #fff;
  width: 7rem;
  font-family: "Poppins";
  font-size: 15px;
  cursor: pointer;
}

.sendBtn:hover {
  opacity: 0.5;
}

.sendBtn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.formMain input {
  border-radius: 7px;
}

.formMain {
  margin-top: 2rem;
  margin-left: 9vw;
  height: 51.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}

.emailL {
  margin-right: 5px;
  color: #fff;
  font-family: "Poppins";
}

.nameL {
  margin-right: 5px;
  color: #fff;
  font-family: "Poppins";
}

.messageL {
  margin-bottom: 1vh;
  margin-right: 10px;
  color: #fff;
  font-family: "Poppins";
}

.textfield {
  height: 30vh;
  align-items: center;
  flex-direction: column;
  display: flex;
}

@media (max-width: 768px) {
  .links {
    display: none;
    width: 100%;
    position: absolute;
    position: fixed;
    z-index: 1;
    height: 110%;
  }
  .skillsBtn {
    text-align: center;
  }
  .icons {
    margin-top: -0.5rem;
    display: flex;
    width: 10%;
    gap: 0.5rem;
    gap: 1rem;
  }
  .links a {
    color: #fff;
    text-decoration: none;
    border-top: 1px solid rgb(71, 67, 67);
    border-bottom: 1px solid rgb(71, 67, 67);
    width: 90%;
    height: 7.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }
  .x {
    display: block;
    width: 100vw;
    display: flex;
    justify-content: end;
  }
  .langbtn {
    width: 85vw;
  }
  .x button {
    background-color: transparent;
    color: #fff;
    border: none;
  }
  .logo {
    width: 85vw;
  }
  .icons {
    margin-right: 25px;
  }
}
@media (max-width: 280px) {
  .icons {
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .allProjects {
    display: flex;
    flex-direction: column;
  }
  .pro2 {
    gap: 10rem;
    width: 15rem;
    margin-top: 126rem;
    margin-left: -24rem;
  }
  .card1 > img {
    width: 15rem;
  }
  .titleProject {
    font-size: 25px;
    align-self: center;
  }
  .carAll {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1rem;
    align-items: center;
  }
  .foot2 {
    text-align: center;
    color: #fff;
    background-color: #1d1d1d;
    font-family: "Poppins";
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-top: 72rem;
  }
  .pro {
    margin-right: 3rem;
    gap: 3rem;
    width: 15rem;
    margin-top: 60rem;
  }
}
@media (max-width: 768px) {
  .textC {
    width: 20rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .email {
    width: 10rem;
    margin-right: 2rem;
    height: 1.5rem;
    color: white;
  }
  .name {
    height: 1.5rem;
    margin-right: 2.2rem;
    width: 10rem;
  }
  .textC p {
    font-size: 11px;
    text-align: center;
  }
  .allContact h3 {
    margin-top: 10rem;
    font-size: 25px;
    margin-top: 1rem;
  }
  .textMessage {
    width: 15rem;
    height: 7rem;
  }
  .sendBtn {
    width: 6rem;
    height: 3em;
  }
}
@media (max-width: 280px) {
  .form h3 {
    margin-right: 1rem;
    text-align: center;
  }
  .sendBtn {
    margin-bottom: 20rem;
    width: 8rem;
  }
  .textMessage {
    margin-right: 1.7rem;
  }
}
@media (max-width: 540px) {
  .sendBtn {
    height: 6rem;
    margin-top: -1.5rem;
  }
  .formMain {
    height: 30rem;
  }
  .form {
    height: 35rem;
  }
  .textMessage {
    margin-right: 1.7rem;
  }
  .sendBtn {
    width: 8rem;
    height: 2rem;
  }
  .email {
    margin-right: 2rem;
  }
  .textMessage {
    margin-left: 2em;
  }
}
@media (max-width: 414px) {
  .form {
    display: flex;
    justify-content: center;
    height: 40rem;
    align-items: center;
  }
  .formMain {
    height: 21.5rem;
  }
}
@media (max-width: 768px) {
  .allContent {
    max-width: 60rem;
  }
  .skill {
    width: 7rem;
    margin-left: 1.1rem;
  }
  .descriptionSkill {
    font-size: 14px;
    margin-top: -4rem;
    width: 17rem;
  }
  .downloadBtn {
    margin-right: 1rem;
  }
  .titleSkills {
    font-size: 30px;
  }
  .titulo {
    font-size: 20px;
    margin-left: 6px;
  }
  .col {
    font-size: 8px;
    text-align: center;
  }
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 180vh;
    margin-left: 2.4rem;
    flex-wrap: wrap;
  }
  .blueline {
    height: 3px;
    margin: 2px 0;
    background: #2187e7;
    margin-left: -1.1rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.6);
  }
  .titulo {
    opacity: 1;
    animation: titulo 5s ease-out;
  }
  .stack {
    opacity: 1;
    animation: titulo 5s ease-out;
  }
  .html {
    width: 60%;
    animation: html 2s ease-out;
    margin-left: -1.6rem;
  }
  .css {
    width: 60%;
    animation: css 2s ease-out;
    margin-left: -2rem;
  }
  .php {
    width: 48%;
    animation: php 2s ease-out;
    margin-left: 0rem;
  }
  .javascript {
    width: 50%;
    animation: javascript 2s ease-out;
    margin-left: 0;
  }
  .jquery {
    width: 40%;
    animation: jquery 2s ease-out;
    margin-left: 0.8px;
  }
  .node {
    width: 38%;
    animation: node 2s ease-out;
    margin-left: 0.8px;
  }
  .sql {
    width: 30%;
    animation: sql 2s ease-out;
    margin-left: -20px;
  }
  .docker {
    width: 30%;
    animation: docker 2s ease-out;
    margin-left: -2rem;
  }
}
@media (max-width: 375px) {
  .titulo {
    opacity: 1;
    animation: titulo 5s ease-out;
  }
  .stack {
    opacity: 1;
    animation: titulo 5s ease-out;
  }
  .html {
    width: 60%;
    animation: html 2s ease-out;
    margin-left: -1.8rem;
  }
  .css {
    width: 60%;
    animation: css 2s ease-out;
    margin-left: -2.2rem;
  }
  .php {
    width: 48%;
    animation: php 2s ease-out;
    margin-left: -0.2rem;
  }
  .javascript {
    width: 40%;
    animation: javascript 2s ease-out;
    margin-left: -1rem;
  }
  .jquery {
    width: 40%;
    animation: jquery 2s ease-out;
    margin-left: -0.2rem;
  }
  .node {
    width: 38%;
    animation: node 2s ease-out;
    margin-left: 0.8px;
  }
  .sql {
    width: 30%;
    animation: sql 2s ease-out;
    margin-left: -1.6rem;
  }
  .docker {
    width: 30%;
    animation: docker 2s ease-out;
    margin-left: -1.4rem;
  }
}/*# sourceMappingURL=main.css.map */