.mainContent {
  border: 1px solid black;
  width: 80vw;
  margin-left: 16vw;
  font-family: "Poppins";
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(71, 67, 67);
  color: #fff;
}

body {
  background-color: rgb(71, 67, 67);
}

.hi1 {
  margin-left: 7vw;
  width: 30vw;
  font-size: 5vh;
  text-align: center;
  border: 1px solid black;
}

.hi2 {
  font-size: 5vh;
}

.hi {
  margin-right: 7vw;
  width: 30vw;
}

.hi {
  width: 70vw;
  font-size: 5vh;
  text-align: center;
  margin-bottom: -10vh;
  display: flex;
  justify-content: center;
  width: 10vw;
}

.profileClass {
  border: 1px solid rgb(177, 7, 7);
  margin-top: 15vh;
  margin-left: 50vw;
  padding-bottom: 10vh;
}

.content {
  border: 1px solid black;
  width: 72vw;
  padding-left: 7vw;
}

.texti {
  margin-left: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  height: 40vh;
  border: 1px solid black;
  margin-bottom: 5vw;
  margin-top: 20vh;
}

.logo {
  width: 20vw;
}

.links {
  border: 1px solid rgb(2, 119, 8);
  width: 20vw;
}

.mainContent p {
  margin-top: 10vh;
}

.menuBar {
  display: none;
}

.links {
  background-color: #1d1d1d;
  color: #fff;
  gap: 20px;
  display: flex;
  width: 14vw;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  align-items: center;
}

.links p {
  margin-top: -5px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid rgb(71, 67, 67);
  border-bottom: 1px solid rgb(71, 67, 67);
  width: 13.7vw;
  height: 7.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.x {
  display: none;
}

.links p:hover {
  color: #49c5b6;
  transition: 0.2s;
}

.links :link {
  text-decoration: none;
}

.langbtn {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  color: #49c5b6;
}

.logo {
  width: 14vw;
  height: 32vh;
}

.icons {
  margin-top: 3vh;
  transition: 0.2s;
}

.icons a {
  color: aliceblue;
  transition: 0.5s;
}

.icons a:hover {
  color: #49c5b6;
}

.nameLogo {
  height: 5vh;
  width: 2vw;
}

.titulo {
  color: #fff;
}

@-webkit-keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.pAbout {
  -webkit-animation: slide-in 0.7s;
          animation: slide-in 0.7s;
}

.hi2 {
  -webkit-animation: slide-in 0.7s;
          animation: slide-in 0.7s;
}

.hi1 {
  -webkit-animation: slide-in 0.7s;
          animation: slide-in 0.7s;
}

.hi {
  -webkit-animation: slide-in 0.7s;
          animation: slide-in 0.7s;
}

.profileClass {
  -webkit-animation: slide-inRight 0.7s;
          animation: slide-inRight 0.7s;
}

@-webkit-keyframes slide-inRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-inRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.nameLogo {
  width: 3vw;
}

.loader {
  width: 48px;
  height: 48px;
  margin-left: 50vw;
  margin-top: 46vh;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.profileClass {
  width: 25vw;
  margin-left: 33vw;
  margin-bottom: -33vw;
  display: 1px solid rgb(131, 9, 9);
}

.portugueseText {
  height: 20vh;
  width: 20vw;
  display: 1px solid black;
}

.hi1 {
  margin-right: 4vw;
  height: 20vh;
}

@media (max-width: 768px) {
  .menuBar {
    display: block;
    margin-top: 1vw;
  }
  .x svg {
    width: 10vw;
    height: 10vh;
    margin-top: -2vh;
  }
  .x button {
    background-color: transparent;
    color: #fff;
    border: none;
  }
  .x {
    display: block;
    height: 6vh;
    display: flex;
    justify-content: end;
    margin-top: 7vh;
    margin-right: 20vw;
  }
  .menuBar svg {
    width: 10vw;
    height: 10vh;
    color: #fff;
  }
  .menuBar button {
    background-color: transparent;
    border: none;
  }
  .links {
    display: block;
    width: 100%;
    z-index: 0;
    height: 200vh;
    justify-content: center;
    border: 4px solid black;
    margin-top: -10vh;
  }
  .links p {
    width: 100vw;
    font-size: 20px;
    margin: auto;
  }
  .langbtn {
    margin-left: 15vw;
    font-size: 20px;
    width: 100vw;
    border: 1px solid black;
  }
  .logo {
    margin-left: 15vw;
    width: 70vw;
    border: 1px solid black;
    width: 100vw;
  }
  .icons {
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 5vh;
    gap: 5px;
    width: 100vw;
  }
  .mainContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .mainContent h2 {
    width: 80vw;
    font-size: 10vw;
  }
  .texti {
    width: 50vw;
    margin-bottom: 20vh;
  }
  .text1 {
    height: 40vh;
    width: 60vw;
    margin-left: -15vw;
  }
  .hi {
    border: 1px solid black;
    width: 70vw;
    font-size: 5vh;
    text-align: center;
    width: 15vw;
    margin-bottom: -9vh;
  }
  .hi2 {
    width: 100vw;
    border: 1px solid rgb(223, 46, 46);
  }
  .hi1 {
    border: 1px solid black;
    width: 70vw;
    font-size: 5vh;
    text-align: center;
  }
  .texti {
    border: 1px solid black;
  }
  .nameLogo {
    height: 5vh;
    width: 10vw;
  }
  .allContent {
    width: 105vw;
  }
  .profileClass {
    width: 120vw;
    margin-left: -19vw;
    margin-bottom: 2vh;
  }
  .menuBar svg {
    margin-left: 10vw;
  }
  .menuBar {
    justify-content: end;
    display: flex;
    margin-left: 14.2vw;
    width: 100vw;
    background-color: rgb(71, 67, 67);
  }
  .hi2 {
    width: 30vw;
  }
  .portugueseText {
    width: 50vw;
    margin: auto;
  }
  .titleSkills {
    border: 1px solid black;
  }
  .titulo {
    border: 1px solid black;
    height: 5vh;
    font-size: 12px;
  }
  .profileClass {
    height: 20vh;
    width: 22vh;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  border: 1px solid rgb(240, 26, 176);
  margin-left: 17vw;
  height: 110vh;
  width: 80vw;
  display: flex;
  flex-direction: row-reverse;
}

.col {
  padding-right: 2vw;
  position: relative;
  margin-top: 3vh;
  width: 55vw;
  font-size: 12px;
  line-height: 2em;
  height: 80vh;
}

.textSkills {
  width: 80vw;
  height: 80vh;
}

.descriptionSkill {
  color: #fff;
  font-family: "Poppins";
  line-height: 25px;
  width: 40vw;
  text-align: left;
  margin-left: 3vw;
  margin-top: 18vh;
  text-align: center;
}

.skill {
  list-style: none;
}

.skill li {
  margin-bottom: 70px;
  background: #030303;
  height: 6px;
  border-radius: 3px;
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.skill li em {
  position: relative;
  font-style: normal;
  font-size: 3vh;
  font-family: "Poppins";
  text-align: center;
  color: #dedede;
  top: -28px;
}

.blueline {
  height: 3px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.6);
}

.skillsMain {
  border: 1px solid transparent;
  height: 150vh;
}

.titleSkills {
  float: right;
  padding-bottom: 4vh;
  margin-right: 25vw;
  margin-top: 8vh;
  width: 40vw;
  text-align: center;
  border: 1px solid black;
  font-size: 8vh;
  color: #49c5b6;
  font-family: "Poppins";
}

.titulo {
  font-size: 4vh;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  font-family: "Poppins";
}

.titulo {
  opacity: 1;
  -webkit-animation: titulo 5s ease-out;
          animation: titulo 5s ease-out;
}

.html {
  width: 75%;
  -webkit-animation: html 2s ease-out;
          animation: html 2s ease-out;
}

.css {
  width: 60%;
  -webkit-animation: css 2s ease-out;
          animation: css 2s ease-out;
}

.php {
  width: 75%;
  -webkit-animation: php 2s ease-out;
          animation: php 2s ease-out;
}

.javascript {
  width: 65%;
  -webkit-animation: javascript 2s ease-out;
          animation: javascript 2s ease-out;
}

.jquery {
  width: 10%;
  -webkit-animation: jquery 2s ease-out;
          animation: jquery 2s ease-out;
}

@-webkit-keyframes titulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@-webkit-keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes php {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@keyframes php {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@-webkit-keyframes javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 65%;
  }
}
@keyframes javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 65%;
  }
}
@-webkit-keyframes jquery {
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
}
@keyframes jquery {
  0% {
    width: 0px;
  }
  100% {
    width: 10%;
  }
}
/*media queries*/
.pro {
  border: 1px solid rgb(201, 20, 20);
  width: 70vw;
  height: 90vh;
  margin-left: 20vw;
}

.projectImg {
  width: 15vw;
  height: 20vh;
  transition: 0.4s;
  border-radius: 5px;
}

.someProjects {
  border: 1px solid black;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}

.projectImg:hover {
  transition: 0.4s;
  opacity: 0.5;
  transform: scale(1.2);
}

.someProjects > li {
  border: 1px solid black;
  height: 30vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleProject {
  display: flex;
  justify-content: center;
  height: 10vh;
  font-size: 6vh;
  font-family: "Poppins";
  color: #fff;
}

.projectHamburger {
  display: none;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.about {
  width: 80vw;
  border: 2px solid rgb(201, 12, 12);
  display: flex;
  align-items: center;
  height: 90vh;
}

.pAbout {
  margin-top: -5vh;
  border: 1px solid black;
  width: 40vw;
}

.about1 {
  font-size: 5vh;
  font-family: "Poppins";
  height: 80vh;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(201, 12, 12);
}

.allAbout {
  font-size: 5vh;
  text-align: center;
  font-family: "Poppins";
  height: 80vh;
  display: flex;
  width: 150vw;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(201, 12, 12);
}

.foot {
  color: #fff;
  font-family: "Poppins";
  font-size: 12px;
  margin-left: -5vw;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87.7vw;
  height: 12vh;
  padding-bottom: 5vh;
}

.footSkills {
  color: #fff;
  font-family: "Poppins";
  font-size: 12px;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98.7vw;
  height: 12vh;
  padding-bottom: 5vh;
}

.footSkills > p {
  margin-top: 10vh;
  margin-left: 10vw;
}/*# sourceMappingURL=main.css.map */