*{
    margin: 0;
    padding: 0;
    border: 0;
   
}

.nav1 {
   background-color: #309181;

    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
    max-width: 100%;
   

}

.nav1 a{
    text-align: center;
    
    text-decoration: none;
    
}

.en{
    margin-left: 1%;
    color:#fff;
    font-family: poppins;
    font-size: 14px;
}

.pt {margin-left: 1%;
    color:#fff;
    font-family: poppins;
    font-size: 14px;
}


 .name{
    margin-left: 28%;
    font-size: 22px;
    opacity: 1;
    font-family: Poppins;
    font-weight: 2px;
    color:#fff;
}

.contactbtn{
    background-color: #fff;
    color: #309181;
    margin-left: 30%;
   
    padding: 12px 15px 12px 15px;
    
}


main{
display: grid;
height: 220vh;}

 .article1 .maintext{
    font-size: 40px;
    color: #fff;
    position: absolute;
    top:40%;
    left:6%;
    line-height: 60px;
    text-align: center;

}

.article1{
    background-color: #309181;
    height: 140vh;
}

.pfimage{
    width: 400px;
    position: absolute;
    left: 58%;
    top: 30%;
}

.footer{
    background-color: black;
    height: 15%;
}

body{
    height: 200vh;
}

.firstList{

position: absolute;
line-height: 30px;

left: 20%;
top:100%;
color:white;

}

